#wrapper.ZPMband {
    padding-left: 270px;
}
#wrapper {
    bottom: 28px;
    left: 0;
    padding: 45px 0 0 200px;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.3s ease-in-out 0s;
    transition: all .3s !important;
}*{
    box-sizing: border-box;
}
div{
        display: block;
}

#pageContent{
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}